@charset "utf-8";
.header_top {
  height: 0.76rem;
  background-color: #f4483e;
  position: relative;
}
.header_top .header_back {
  float: left;
  margin-left: 0.38666667rem;
  padding: 0.14666667rem;
  height: 100%;
}
.header_top .header_back span {
  color: #fff;
}
.header_top .header_title h2 {
  line-height: 0.76rem;
  font-size: 0.33333333rem;
  text-align: center;
}
.bcj_content .bcj_nav {
  position: relative;
  height: 0.65333333rem;
  display: -webkit-box;
  border-bottom: 1px solid #eeeeee;
}
.bcj_content .bcj_nav .bcj_title {
  width: 100%;
  height: 0.69333333rem;
  background-color: #fff;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper {
  overflow: hidden;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper .tabs {
  width: 14.02666667rem;
  background-color: #FFFFFF;
  border-bottom: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-flex: 1;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper .tabs li {
  height: 0.62666667rem;
  font-size: 0.2rem;
  line-height: 0.62666667rem;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper .tabs li a {
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0 0.16rem;
  width: auto;
  box-sizing: content-box;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper .tabs.active {
  background: transparent;
}
.bcj_content .bcj_nav .bcj_title .nav_wapper .tabs.active a {
  color: #e4393c;
  border-bottom: 2px solid #e4393c;
}
.bcj_content .bcj_nav .searchbtn {
  width: 0.69333333rem;
  height: 0.69333333rem;
  border-left: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  display: -webkit-box;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
}
.bcj_content .bcj_nav .searchbtn .fa {
  font-size: 0.33333333rem;
  font-style: normal;
  position: absolute;
  transform: translate(50%, 59%);
}
.bcj_content .bcj_list {
  margin: 0px auto;
}
.bcj_content .bcj_list li {
  margin: 0.12rem auto;
  background-color: #ffffff;
  position: relative;
  padding: 0.14666667rem 0.09333333rem;
  box-sizing: border-box;
  overflow: hidden;
}
.bcj_content .bcj_list li .gobuy {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: #000;
}
.bcj_content .bcj_list li .list_pic {
  float: left;
  width: 2.4rem;
  height: 2.4rem;
}
.bcj_content .bcj_list li .list_pic i {
  position: absolute;
  top: 0.48rem;
  left: 0.48rem;
  width: 0.93333333rem;
  height: 0.93333333rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 50%;
  display: none;
  text-align: center;
}
.bcj_content .bcj_list li .list_pic img {
  width: 2.26666667rem;
  height: 2.26666667rem;
  border: none;
}
.bcj_content .bcj_list li .list_info .info_top {
  height: auto;
  margin-bottom: 0.16rem;
}
.bcj_content .bcj_list li .list_info .info_top .top_title {
  min-height: 0.49333333rem;
  max-height: 0.73333333rem;
  line-height: 1.1;
  font-weight: 400;
  text-align-last: left;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bcj_content .bcj_list li .list_info .info_top .top_price {
  font-size: 0.36rem;
  color: #fc353a;
  margin-top: 0.12rem;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
}
.bcj_content .bcj_list li .list_info .info_top .top_price em {
  font-size: 0.2rem;
  vertical-align: bottom;
  font-style: normal;
  margin-right: 0.06666667rem;
}
.bcj_content .bcj_list li .list_info .info_top .top_price del {
  text-decoration: line-through;
  font-size: 0.22666667rem;
  color: #a8a8a8;
  margin-left: 0.16rem;
  vertical-align: bottom;
}
.bcj_content .bcj_list li .list_info .info_bottom {
  position: absolute;
  bottom: 0.06666667rem;
  padding: 0 0.06666667rem 0 2.4rem;
  box-sizing: border-box;
  width: 100%;
}
.bcj_content .bcj_list li .list_info .info_bottom .bar {
  height: 0.49333333rem;
  overflow: hidden;
}
.bcj_content .bcj_list li .list_info .info_bottom .bar i {
  position: relative;
  box-sizing: border-box;
  width: 1.45333333rem;
  height: 0.2rem;
  border: 1px solid #fc353a;
  border-radius: 7px;
  color: #fff;
  font-weight: 900;
  background: #ffb7b7;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}
.bcj_content .bcj_list li .list_info .info_bottom .bar i em {
  width: 1%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20%;
  background: #fc353a;
  display: block;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.bcj_content .bcj_list li .list_info .info_bottom .bar i span {
  font-size: 0.2rem;
  line-height: 0.18666667rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bcj_content .bcj_list li .list_info .info_bottom .bar b {
  font-weight: normal;
  font-size: 0.18666667rem;
  vertical-align: 0.02666667rem;
  margin-left: 0.2rem;
  color: #fc353a;
}
.bcj_content .bcj_list li .list_info .info_bottom .b .q {
  float: left;
}
.bcj_content .bcj_list li .list_info .info_bottom .b .q a {
  border: 1px dotted #e4393c;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: block;
  padding: 0px 5px;
  font-size: 12px;
  color: #e4393c;
  position: relative;
  z-index: 1;
}
.bcj_content .bcj_list li .list_info .info_bottom .b .g {
  float: right;
  margin-right: 0.2rem;
}
.bcj_content .bcj_list li .list_info .info_bottom .b .g a {
  height: 0.38666667rem;
  line-height: 0.38666667rem;
  text-align: center;
  display: block;
  background-color: #ff5e5d;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 0.09333333rem;
  font-size: 0.16rem;
  position: relative;
  z-index: 1;
}
.bcj_content .bcj_list.goquan {
  display: block;
  position: absolute;
  width: 2.13333333rem;
  height: 1.06666667rem;
  bottom: 0;
  left: 2.4rem;
  z-index: 3;
}
