@charset "utf-8";
html,
body {
  background-color: #fff;
}
.m_header .header_search {
  background-color: #fff;
  height: 0.65333333rem;
  padding: 0.12rem;
}
.m_header .header_search input {
  height: 0.38666667rem;
  border-radius: 999px;
  float: left;
}
.m_header .header_search input[type="search"] {
  width: 90%;
  padding-left: 0.29333333rem;
  border: none;
  background: #f1f1f1;
  font-size: 0.16rem;
  padding-right: 50px;
}
.m_header .header_search input[type="button"] {
  background-color: #ff841d;
  width: 10%;
  border: none;
}
/* 分类标题 */
.category {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  color: #666;
}
.category > .category_title > li > a {
  height: 40px;
  background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
  line-height: 40px;
  color: #000;
  font-size: 16px;
  display: block;
  padding-left: 17px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.category > .category_title > li > .category_content {
  background-color: #f9f9f9;
  display: none;
}
.category > .category_title > li > .category_content > li {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 33.33%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.category > .category_title > li > .category_content > li > a {
  display: block;
  width: 100%;
  color: #333;
}
.category > .category_title > li > .category_content.hide {
  display: block;
}
