@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
em,
i {
  font-style: normal;
}
body {
  background-color: #f1f1f1;
}
.header_top {
  height: 49px;
  background-color: #ff841d;
  position: relative;
}
.header_top .header_logo {
  float: left;
  margin-left: 0.38666667rem;
  padding: 11px;
  height: 100%;
}
.header_top .header_logo img {
  display: block;
  height: 27px;
}
.header_title {
  width: 100%;
  color: #fff;
  line-height: 49px;
  margin: 1.05333333rem 0 1.05333333rem;
}
.header_title h2 {
  font-size: 27px;
  text-align: center;
}
.header_app {
  float: right;
  margin-right: 0.33333333rem;
  padding: 11px;
  height: 100%;
}
.header_app img {
  float: left;
  display: block;
  height: 27px;
}
.m_footer .footer_top {
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  margin-top: 25px;
  clear: both;
}
.m_footer .footer_top a {
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 30%;
}
.m_footer .footer_bottom {
  margin-top: 25px;
  font-size: 0.16rem;
  text-align: center;
}
.m_footer .footer_bottom p {
  color: #777;
}
