.m_nav {
  margin-top: 0.16rem;
  padding: 0.22666667rem 0.12rem;
  background-color: #fff;
}
.m_nav ul {
  margin: 0 auto;
}
.m_nav ul li {
  width: 25%;
  float: left;
}
.m_nav ul li a {
  display: block;
}
.m_nav ul li img {
  display: block;
  width: 0.65333333rem;
  margin: 0 auto;
}
.m_nav ul li p {
  font-size: 0.16rem;
  text-align: center;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
}
.m_nav ul .hide {
  display: none;
}
.list_title {
  height: 0.6rem;
  background-image: linear-gradient(#ffaf47, #ff9000);
  color: #fff;
}
.list_title .se_left {
  float: left;
  font-size: 0.25333333rem;
  height: 100%;
  line-height: 0.6rem;
  padding-left: 0.22666667rem;
}
.list_title .se_right {
  float: right;
  font-size: 0.38666667rem;
  padding-right: 0.22666667rem;
}
.m_body .m_product {
  background-color: #fff;
  text-align: left;
  font-size: 0.18666667rem;
  max-width: 960px;
  margin: 0 auto;
}
.m_body .m_product ul li {
  padding: 0.22666667rem 0.12rem;
  border-bottom: 1px solid #ccc ;
  position: relative;
}
.m_body .m_product ul li a {
  display: block;
}
.m_body .m_product ul li a .pic {
  float: left;
  width: 1.42666667rem;
  height: 1.42666667rem;
  overflow: hidden;
}
.m_body .m_product ul li a .pic img {
  float: left;
  width: 100%;
  height: 100%;
}
.m_body .m_product ul li a .info {
  width: 100%;
  padding-left: 1.45333333rem;
}
.m_body .m_product ul li a .info .title {
  font-size: 0.25333333rem;
  min-height: 0.76rem;
  line-height: 0.29333333rem;
}
.m_body .m_product ul li a .info .title span {
  color: #ff9000;
  padding-left: 0.09333333rem;
}
.m_body .m_product ul li a .info .other {
  margin-top: 0.22666667rem;
}
.m_body .m_product ul li a .info .other .date {
  float: left;
}
.m_body .m_product ul li a .info .other .message {
  float: right;
  margin-right: 0.62666667rem;
}
.m_body .more {
  text-align: center;
}
.m_body .more a {
  display: block;
  line-height: 29px;
  background: #F4F4F4;
  text-decoration: none;
  font-size: 14px;
  background-image: linear-gradient(#ffffff, #f4f4f4);
  margin: 12px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
